@import url('https://fonts.googleapis.com/css2? family=Montserrat:ital,wght@1,400;1,600&family=Prata&family=Roboto:wght@400;700&display=swap');

body {
    display: flex; 
    margin: 0;
    height: 100vh;
    font-family:'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content{
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p {
margin: 0;
}

.sidebar-icon ion-icon {
    font-size: 1.5em;
}

#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
}

#topbar-icons {
    display: flex;
    
}

.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 1.7em;
}

#search-btn {
    padding: 0 0.6em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.thumb {
    height: 250px;
    width: 400px;
    margin: 5px;
    padding: 10px;
    padding-bottom: 0;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.log {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    margin: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 10px;
}

.title {
display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 0;
padding-bottom: 0;
margin-bottom: 0;
}





